<h2>Welcome to your personal 'Todo' list, <%= current_user.username %> </h2>

<% @lists.each do |list| %>
<div>
  <h4><%= list.listname %></h4>
  <button><%= link_to 'New Todo', [@list, @todo] %></button>
</div>

<% end %>

<button><%= link_to 'New list', new_list_path %></button>
<button><%= link_to 'Log out', logout_path %></button>
