<!DOCTYPE html>
<html>
    <head>
        <title>W6TodoIng</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <%= link_to 'Todoing', root_path, class:"navbar-brand"%>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <% if @currentuser.present? %>
                        <li>
                            <%= link_to 'New List', new_list_path, class:"navbar-link navbar-text"%>
                        </li>
                        <li>
                            <%= link_to "Sign-out", logout_path, class:"navbar-link navbar-text"%>
                        </li>
                    <% else %>
                        <li>
                            <%= link_to 'Sign up', new_user_path, class:"navbar-link navbar-text"%>
                        </li>
                        <li>
                            <%= link_to 'Log in', login_path, class:"navbar-link navbar-text"%>
                        </li>
                    <% end %>
                </ul>
            </div>
        </nav>

        <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
        <% end %>
        <%= yield %>
    </body>
</html>
